:root {
  --font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-family);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

td {
  border-collapse: collapse;
  border: 2px solid transparent;
}

.title {
  text-align: center;
  margin: 0.5em 0;
  font-size: 1.5em;
}

.video-container {
  margin: 0 auto;
  max-width: 100vw;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.video-card {
  display: block;
  width: 95%;
  overflow: auto;
  margin: 0 auto;
  min-width: 15rem;
  max-width: 100%;
  border: 0.1em solid var(--light-grey);
  border-radius: var(--radius);
  background-color: var(--light-grey);
  color: var(--black);
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.video-card__image {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.video-card__image > img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.video-card__name {
  display: block;
  padding: 0.4em 0;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}

.video-card:hover,
.video-card:active {
  color: var(--white);
  border-color: var(--dark-grey);
  background-color: var(--dark-grey);
  -webkit-box-shadow: 2px 2px 3px var(--dark-grey);
  box-shadow: 2px 2px 3px var(--dark-grey);
}
