:root {
  --font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-family);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-top: 0.5em;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

.video-box {
  margin: auto;
  max-width: 90%;
  height: 70vh;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.video-player {
  display: block;
  margin: 0 auto;
  -o-object-fit: contain;
  object-fit: contain;
  max-height: 100%;
}

.video-links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.3em auto 0;
  font-weight: bold;
  font-size: 1.1em;
}

.home-button {
  color: var(--dark-grey);
  background-color: var(--light-grey);
  border-radius: var(--radius);
  padding: 1em;
  font-size: 1.05em;
  cursor: pointer;
}

.home-button::before {
  font-size: 1em;
}

.video-link {
  padding: 1em;
  margin: 0 1em;
  color: var(--dark-grey);
  background-color: var(--light-grey);
  border-radius: var(--radius);
}

.video-link:hover,
.home-button:hover {
  color: var(--white);
  background-color: var(--dark-grey);
  -webkit-box-shadow: 2px 2px 5px var(--dark-grey);
  box-shadow: 2px 2px 5px var(--dark-grey);
}

.video-link.previous {
  left: 0;
}

.video-link.next {
  right: 0;
}
