:root {
  --light-grey: #e0e0e0;
  --grey: #aeaeae;
  --dark-grey: #585858;
  --radius: 0.5em;
  --white: #eeeeee;
  --light-blue: #eaefff;
  --blue: #3d5afe;
  --dark-blue: #0039cb;
  --black: #181818;
  --green: #0ae027;
  --dark-green: #1e3a1c;
  --red: #d32f2f;
  --wine: #9a0007;
}
