.title {
  text-align: center;
  margin-top: 0;
}

.video-container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

.flayer > img {
  width: 100%;
}

.video-link {
  display: block;
  width: 100%;
}
