:root {
  --font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-family);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--light-grey);
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  margin-top: 0.5em;
}

.video-container {
  margin: 1em;
  max-width: 100vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.video-card {
  width: 20%;
  overflow: auto;
  margin: 1em;
  min-width: 20rem;
  max-width: 100%;
  border: 0.1em solid var(--light-grey);
  border-radius: var(--radius);
  background-color: var(--light-grey);
  color: var(--black);
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  cursor: pointer;
}

@supports (display: grid) {
  .video-container {
    display: -ms-grid;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  .video-card {
    width: 100%;
    margin: 0;
  }
}

.video-card__image {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.video-card__image > img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.video-card__name {
  display: block;
  padding: 0.25em 0;
  font-size: 1.25em;
  font-weight: normal;
}

.video-card:hover,
.video-card:active {
  color: var(--white);
  border-color: var(--dark-grey);
  background-color: var(--dark-grey);
  -webkit-box-shadow: 2px 2px 3px var(--dark-grey);
  box-shadow: 2px 2px 20px var(--dark-grey);
}
