:root {
  --font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-family);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--light-grey);
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  margin-top: 0.5em;
}

.video-container {
  margin: 1em;
  display: grid;
  max-width: 100vw;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  text-align: center;
}

.video-card {
  width: 100%;
  max-width: 100%;
  --card-color: var(--light-grey);
  border: 0.1em solid var(--card-color);
  border-radius: var(--radius);
  background-color: var(--card-color);
  box-shadow: 2px 2px 3px var(--card-color);
  color: var(--black);
  transition: 0.2s ease all;
}

.video-card__image > img {
  display: block;
  width: 100%;
  max-width: 100%;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.video-card__name {
  display: block;
  padding: 0.25em 0;
  font-size: 1.25em;
  font-weight: normal;
}

.video-card:hover,
.video-card:active {
  --card-color: var(--dark-grey);
  color: var(--white);
}
